#Skill h2{
    margin-top: 50px;
    font-family:'Poppins', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.skillCards{
    width: 85%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.skillCard{
    padding: 25px 35px;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.skillCard p{
    font-size: 40px;
}
.skillCard :first-child{
    margin-bottom: 20px;
}